################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/NetSSL/bin/Debug
/NetSSL/obj/Debug
/NetSSL.Web/bin
/NetSSL.Web/obj/Debug
